@model IEnumerable<SalesAndPurchaseManagement.Models.Product>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/product.css">
}

<div class="container">
    <div class="title">DANH SÁCH SẢN PHẨM</div>
    <div class="listProduct">
        @foreach (var product in Model)
        {
            <a asp-controller="Product" asp-action="Detail" class="item">
                <img src="~/images/ProductImages/@product.Image" alt=""/>
                <h2>@product.ProductName</h2>
                <div class="price">
                    <span>@product.SellingPrice.ToString("N0")</span>
                    <span>đ</span>
            </a>
        }
    </div>
</div>
